.rbc-header {
  height: 40px;
  font-size: 1.2em;
}

.rbc-time-header-content {
  min-height: 450px !important;
}

.rbc-time-header-cell {
  min-height: 40px !important;
}

.rbc-toolbar-label {
  font-size: 1.5em;
  font-weight: bold;
}

.rbc-show-more {
  font-size: 1em !important;
  font-weight: normal;
}

.rbc-overlay {
  top: -200px !important;
}

/* For mobile: */
@media only screen and (max-width: 768px) {
  .rbc-header {
    height: 20px;
    font-size: 0.7em;
  }

  .rbc-time-header-content {
    min-height: 250px !important;
  }

  .rbc-time-header-cell {
    min-height: 20px !important;
  }

  .rbc-show-more {
    font-size: 0.7em !important;
    font-weight: normal;
  }
}
